<html>
<title>Comic Cube</title>
<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
 <script src="scripts/users.js"></script>
</head>
<body style="padding-left:5%; padding-right:5%;">
<main>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Comic Cube</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/boxes">My Boxes</a></li>
        <li><a href="/shops">Shops</a></li>
        <li><a href="/list">Comics List</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>
  </nav>
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p>full comic list here</p>
	  </div>
	</div>
  </div>
</div>
</main>
</body>
</html>